/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    padding: 13px;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    border: 5px solid #4b6672;
    border-radius: 25px;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.webdev-slider img {
    max-width: 250px;
    border-radius: 50%;
}

.webdev-slider-desc p{
    text-align: center;
}

.webdev-slider .slick-slide.slick-center {
    opacity: 1;
    transform: scale(1.2);
}
.webdev-slider .slick-slide {
    opacity: 0.7;
    margin: 20px;
    transition: all 300ms ease;
}

.graphic-slider .slick-slide.slick-center {
    opacity: 1;
    transform: scale(1);
}
.graphic-slider .slick-slide {
    transform: scale(0.7);
    opacity: 0.5;
    /* margin: 20px; */
    transition: all 300ms ease;
}

@media screen and (max-width: 580px) {
    .graphic .slick-slide img
    {
        max-width: 62%;
        margin: auto;
    }
    .webdev-slider img {
        max-width: 200px;
    }

}